.Sidebar__Wrapper {
  width: 22rem;
  transition: 0.6s ease-in;
}

.Sidebar__Wrapper label {
  width: 40px;
  height: min-content;
  right: 1rem;
  z-index: 1;
  cursor: pointer;
  visibility: visible;

  display: flex;
  flex-direction: column;
}
.Sidebar__Wrapper label .Bar {
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--white);
  border-radius: 10px;
  transition: 0.4s;
  z-index: 2;
}

.Sidebar__Wrapper input {
  display: none;
}

input:checked ~ label :first-child {
  position: absolute;
  transform: rotate(45deg);
}

input:checked ~ label span:nth-child(2) {
  display: none;
}

input:checked ~ label span:nth-child(3) {
  position: absolute;
  transform: rotate(-45deg);
}

input:checked ~ .Sidebar {
  transform: translateX(0);
  z-index: 1;
}

input:checked ~ .Sidebar {
  display: flex;
  background: linear-gradient(
    180deg,
    var(--darkBlue) 12.6%,
    var(--lightierBlue) 100%
  );
  box-shadow: 0 0 20px 3px;
  z-index: 1;
}

.Sidebar {
  width: 10rem;
  height: 100%;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translateX(-100%);
}

.Sidebar ul {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: var(--grey);
}

.Sidebar li:first-child {
  padding: 15px;
  user-select: none;
}

.Sidebar li:nth-child(2),
.Sidebar li:nth-child(3) {
  padding: 15px;
  cursor: pointer;
}

.Sidebar li:nth-child(2):hover,
.Sidebar li:nth-child(3):hover {
  background-color: var(--white);
  color: var(--lightierBlue);
  border-radius: 5px;
}

.Sidebar li .svg {
  margin-right: 5px;
  vertical-align: middle;
}

/* .Sidebar li:hover {
  background-color: var(--white);
	color: var(--lightierBlue);
	border-radius: 5px;
} */

/* .Sidebar ul li:nth-child(2) {
  background-color: var(--blue);
	border-radius: 5px;
} */
