.Header__Wrapper {
  height: 100px;
  display: flex;
  background-color: var(--darkBlue);
  box-shadow: 0 0 20px 3px;
	display: flex;
	place-items: center;
	justify-content: space-between;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.Header__Wrapper .FaBars {
  width: 30px;
  height: 30px;
  margin-top: 32px;
  margin-left: 32px;
  color: var(--white);
  cursor: pointer;
  position: fixed;
}
