* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkBlue: #0B2447;
  --lightierBlue: #19376D;
  --white: #FEFEFE;
  --grey: #D9D9D9;
  --dark: #0A0A0A;
  --red: #C33B49;
}
body {
	background-color: var(--white);
}

